leveldb/workloads/
leveldb/build/
results/
dependencies/jdk-8u221-linux-x64.tar.gz
dependencies/cmake-3.15.2/
dependencies/jdk1.8.0_221/
kernel/kbuild/*
*.o
tpcc-sqlite/database/
core
sqlite3-trace/.libs
*output*
*trace*
*swp

rsync/workload/
rsync/rsync

!ycsb/core
!ycsb/tracerecorder
!kernel/kbuild/Makefile.setup
